{% load static %}

<div id="add-bg" class="bg-blackout" style="width: 100%;" xmlns="http://www.w3.org/1999/html">
        </div>
<div id="add_representative_widget" class="widget">

        <div class="single-featuer">
        <img class="shape" src="{% static 'hackaton/images/features/shape.svg'%}" alt="#">
        <img class="shape2" src="{% static 'hackaton/images/features/shape2.svg' %}" alt="#">
         <form id="form-container" action="{% url 'users:add_member' %}" method="post">
            {% csrf_token %}

            <div class="form-floating" id="form-nick">
              <input type="text" class="form-control" name="name" id="name" placeholder="count">
              <label for="name">nickname пользователя</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Создать Хакатон</button>
          </form>
        </div>
    </div>