{% extends 'hackaton/layout.html' %}
{% load static %}

    {% block main %}

   <!-- Start Breadcrumbs -->

   <div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <!--<h1 class="page-title">Личный кабинет</h1>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<div class="wrapper">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="{% url 'users:profile' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Личный кабинет</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'users:profile' %}"
            {% if request.resolver_match.url_name == 'profile' %}
                class="nav-link active" aria-current="page"
            {% else %}
                class="nav-link text-white"
            {% endif %} >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Обо мне
        </a>
      </li>
      <li>
        <a {% if user.memberteam == '' %}
                href="{% url 'users:add_command' %}"
           {% else %}
                href="{% url 'users:command' %}"
           {% endif %}
           {% if request.resolver_match.url_name == 'add_command' or request.resolver_match.url_name == 'command' %}
                class="nav-link active" aria-current="page"
            {% else %}
                class="nav-link text-white"
            {% endif %} >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Команда
        </a>
      </li>
      <li>
        <a href="{% url 'users:schedule' %}"
            {% if request.resolver_match.url_name == 'schedule' %}
                class="nav-link active" aria-current="page"
            {% else %}
                class="nav-link text-white"
            {% endif %} >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Расписание
        </a>
      </li>
      <li>
        <a href="{% url 'users:task' %}"
            {% if request.resolver_match.url_name == 'task' %}
                class="nav-link active" aria-current="page"
            {% else %}
                class="nav-link text-white"
            {% endif %} >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Задача
        </a>
      </li>
        </ul>
    <hr>
   </div>


    {% block body %}
    {% endblock %}
</div>
    {% endblock %}
