{% extends 'users/profile.html' %}
{% load static %}

{% block body %}

<div class="main-text">

        <div class="main-text">
                <!--Start Form-->
            <p class="lead">  {{ message }}</p>
      <div class="form-signin">
         <form action="{% url 'users:update_user_info' %}" method="post">
             {% csrf_token %}
       <div class="form-floating mb-3">
        <h4>Фамилия</h4>
         <input type="text" value="{{ user.last_name }}" name="last_name" class="form-control" id="floatingInput">
       </div>
       <div class="form-floating mb-3">
        <h4>Имя</h4>
         <input type="text" value="{{ user.first_name }}" name="first_name" class="form-control" id="floatingInput" >
       </div>

       <div class="form-floating mb-3">
        <h4>Отчество</h4>
         <input type="text" value="{{ user.profile.middle_name }}" name="middle_name" class="form-control" id="floatingInput" >
       </div>
       <div class="form-floating mb-3">
       <h4>Дата рождения</h4>
          <input type="date" value="{{ user.profile.birth_date|date:'Y-m-d' }}" name="birth_date" class="form-control" id="floatingInput">
        </div>
       <div class="form-floating mb-3">
        <h4>Учебное заведение/Место работы</h4>
         <input type="text" value="{{ user.profile.job }}" name="job" class="form-control" id="floatingInput">
       </div>
       <div class="form-floating mb-3">
        <h4>Электронная почта</h4>
          <input type="email" value="{{ user.email }}" name="mail" class="form-control" id="floatingInput" placeholder="name@example.com">
        </div>
       <div class="text-center">
           <div>
               {% if request.user.representativesorganizations.org %}
                  <button id="update_org" class="w-150 btn btn-lg btn-primary" type="button">Изменить данные организации</button>
               {% else %}
                   <button id="add_org" class="w-150 btn btn-lg btn-primary" type="button">Зарегистрировать организацию</button>
               {% endif %}
                    <button id="add_task" class="w-150 btn btn-lg btn-primary" type="button">Добавить задачу</button>
           </div>
       <p class="lead">
           <button class="w-150 btn btn-lg btn-primary" type="submit">Сохранить изменения</button>
          <a href="{% url 'users:delete_user' %}" class="btn btn-lg btn-secondary fw-bold border-danger bg-danger text-white">Удалить себя</a>
         <a href="{% url 'users:logout' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Выйти</a>

       </p>
           </div>
     </form>
</div>
        {% if request.user.representativesorganizations.org %}
            {% include 'users/update_org_widget.html' %}
        {% else %}
            {% include 'users/add_org_widget.html' %}
        {% endif %}
            {% include 'users/add_task_widget.html' %}
</div>
</div>

   <script>
        var bg = document.querySelector('.bg-blackout')
        {% if request.user.representativesorganizations.org %}
            var update_org_widget = document.querySelector('#update_org_widget');
            var update_org = document.querySelector('#update_org');
            update_org.addEventListener('click', function() {
            bg.style.display = 'block';
            update_org_widget.style.display = 'block';
        });
        {% else %}
            var add_org_widget = document.querySelector('#add_org_widget');
            var add_org = document.querySelector('#add_org');
            add_org.addEventListener('click', function() {
              bg.style.display = 'block';
              add_org_widget.style.display = 'block';
            });
        {% endif %}

            var add_task_widget = document.querySelector('#add_task_widget');
            var add_task = document.querySelector('#add_task');
            add_task.addEventListener('click', function() {
              bg.style.display = 'block';
              add_task_widget.style.display = 'block';
            });

        bg.addEventListener('click', function() {
          bg.style.display = 'none';
      {% if request.user.representativesorganizations.org %}
          update_org_widget.style.display = 'none';
      {% else %}
          add_org_widget.style.display = 'none';
      {% endif %}
            add_task_widget.style.display = 'none';
        });




   </script>
{% endblock %}