{% extends 'users/profile.html' %}
{% load static %}

    {% block body %}
<div class="main-text">
  <h1 class="text-center">Темы заданий</h1>
  <div class="main-content text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".2s">

            {% for task in tasks %}
                <div class="single-featuer">
                    <img class="shape" src="{% static 'hackaton/images/features/shape.svg' %}" alt="#">
                    <img class="shape2" src="{% static 'hackaton/images/features/shape2.svg' %}" alt="#">

                  <h3>{{ task.participating_organization_number }}</h3>
                  <p>
                    <b>Цель:</b> {{ task.purpose }}

                  </p><br>
                  <div class="text-center">
                    <button id="add_widget{{ forloop.counter }}" class="w-150 btn btn-lg btn-primary" type="button">Подробнее</button>
                      <button id="dell_widget{{ forloop.counter }}" class="w-150 btn btn-lg btn-primary" type="button" style="display: none;">Скрыть</button>
                    <form action="{% url 'users:new_task' %}" method="post" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="task" value="{{ task.id }}">
                        <button class="w-150 btn btn-lg btn-primary" type="submit">Выбрать эту задачу</button>
                    </form>

                  </div>
                <div id="doc_widget{{ forloop.counter }}" class="main-doc" style="height: auto; width: 100%; display: none;">
                    <p><br><b>Описание:</b> {{ task.description|linebreaksbr }}<br>
                   <br><b>Входные данные:</b> {{ task.input_data }}</p><br>
                </div>
              </div>
            {% endfor %}

           </div>
          </div>
    </div>
</div>
</div>

   <script>
       {% for task in tasks %}
        var widget{{ forloop.counter }} = document.querySelector('#doc_widget{{ forloop.counter }}');
        var addWidget{{ forloop.counter }} = document.querySelector('#add_widget{{ forloop.counter }}');
        var dellWidget{{ forloop.counter }} = document.querySelector('#dell_widget{{ forloop.counter }}');

       addWidget{{ forloop.counter }}.addEventListener('click', function() {
          widget{{ forloop.counter }}.style.display = 'grid';
          dellWidget{{ forloop.counter }}.style.display = 'inline';

          addWidget{{ forloop.counter }}.style.display = 'none';
        });

        dellWidget{{ forloop.counter }}.addEventListener('click', function() {
          widget{{ forloop.counter }}.style.display = 'none';
          dellWidget{{ forloop.counter }}.style.display = 'none';
          addWidget{{ forloop.counter }}.style.display = 'inline';
        });
        {% endfor %}


   </script>

{% endblock %}